:root {
	--rows: 1;
}

body {
	margin: 0;

	min-width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;

	overflow-y: hidden;
}

.app {
	display: grid;
	grid-template-columns: 60px auto;
	grid-template-rows: 100%;
}

.app-navigation {
	grid-column: 1;
	grid-row: 1;
}

.app-timelines {
	grid-column: 2;
	grid-row: 1;

	display: grid;
	grid-auto-flow: column;
	grid-auto-rows: 1fr;
	grid-auto-columns: minmax(300px, 350px);
	grid-template-rows: repeat(var(--rows), 1fr);

	height: 100%;
}

.app-timeline {
	overflow-y: auto;
}

.status {
	word-wrap: break-word;
}